@font-face {
    font-family: 'LINE Seed Sans TH';
    src: url('LINESeedSansTH_W_Rg.woff') format('woff'), /* ไฟล์ฟอนต์ในรูปแบบ woff2 */
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'LINE Seed Sans TH', sans-serif;
}

header{
    background-color: #468999;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
    box-shadow: 0px 3px 5px 1px #7f7f7fb3;

    position: sticky;
    top: 0;

}

header>img{
    height: 54px;

}

.h-text{
    display: flex;
    flex-direction: column;
}

main{
    padding: 1rem 1.5rem;
}


#mostDetected{
    width: 50%;    
}

#latestDetected{
    width: 50%;
}

.total-card{
    height: 6rem;
    background-color: #ffffff;
    margin: 0.2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #7f7f7fb3;
    border-left: solid 5px;

}

.card{
    width: 70%;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.5px #7f7f7fb3;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9rem;
    margin-top: 0.5rem;
}




.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
}


.spinner-grow,
.spinner-border {
    margin-right: 0.5rem;
  display: inline-block;
  width: var(--bs-spinner-width);
  height: var(--bs-spinner-height);
  vertical-align: var(--bs-spinner-vertical-align);
  border-radius: 50%;
  animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
.spinner-grow {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-animation-speed: 0.75s;
  --bs-spinner-animation-name: spinner-grow;
  background-color: #468999;
  opacity: 0;
}
